body{
          background-color:white;
          /* background-image:url("./images/background.svg")  */
          padding:0px;
          margin:0px;
}
#blog_name{
          text-align:left;
          font-size:40px;
          font-weight:600;
          color:#0089FF;
          padding-top:0px;
          padding-left:5px;
          margin:2px;
          font-family:cambria;
          text-decoration-line:underline;
}
#navbar{
          border-bottom:2px solid #0089FF;
          padding-bottom:10px;
          display:flex;
}
#nav_icons{
          display:flex;
          margin:auto;
          justify-content:flex-end;
          align-items:center;
          margin-bottom:5px;
}
.main_icons{
          height:3%;
          width:3%;
          margin:auto 100px;
          border:0px;
          
}